In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
data = pd.read_csv('trimmed_data.csv', index_col=0)
data.head()

   Date    sec_id   fut_ret       vol        X1        X3   X4   X6        X7
0   0.0  0.000000  0.037521  0.269877  1.876823  0.000000  0.0  0.0  0.000000
1   0.0  0.000502  0.005565  0.879423 -0.670540  0.000000  0.0  0.0  0.000000
2   0.0  0.001005 -0.008732  0.331473  0.940755  0.923608  0.0  0.0 -0.379818
3   0.0  0.001507  0.000695 -0.598987 -0.114191  0.000000  0.0  0.0  0.000000
4   0.0  0.002009 -0.002755 -0.057603 -0.101973  0.000000  0.0  0.0  0.000000

In [33]:
sec_id_lst = list(set(data['sec_id']))
sec_id_lst.sort()

In [34]:
mean_lst, std_lst = [], []

In [35]:
data['mean']=0
data['std']=0
for sec_id in sec_id_lst:
    ret_this_id = data['fut_ret'][data['sec_id']==sec_id]
    mean_lst.append(ret_this_id.mean(skipna=True))
    std_lst.append(ret_this_id.std(skipna=True))
    data['fut_ret'][data['sec_id']==sec_id] = (ret_this_id-mean_lst[-1])/std_lst[-1]
    data['mean'][data['sec_id']==sec_id] = mean_lst[-1]
    data['std'][data['sec_id']==sec_id] = std_lst[-1]

/home/zecophy/Documents/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/zecophy/Documents/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/zecophy/Documents/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [39]:
data=data.dropna()

In [40]:
mean_std_df = pd.DataFrame(np.array([mean_lst, std_lst]).T, index=sec_id_lst, columns=['mean', 'std'])

In [41]:
mean_std_df.to_csv('phillip_mean_std_dataframe.csv')

In [42]:
data.to_csv('new_data.csv')